#sfondo {
  height: 3000px;
  width: 450px;
  background-image: url(assets/img/sfondo.png);
}
body {
  font-family: "Poppins", sans-serif;
  word-spacing: 2px;
  line-height: 1.3;
}

header {
  width: 400px;
  height: 350px;
  margin: 20px auto 0;
  background-color: rgb(71, 147, 209);
  text-align: center;
  box-shadow: -10px 14px 34px -17px rgba(0, 0, 0, 0.5);
}
header img {
  width: 60%;
  margin-top: 35px;
}
header p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 10%;
}
menu li {
  list-style: none;
  color: white;
  font-weight: 500;
  margin-bottom: 2%;
}
li i {
  padding: 0 1%;
}
main {
  width: 400px;
  height: 2000px;
  margin: 20px auto 0;
  background-color: white;
  padding: 8%;
  box-sizing: border-box;
}

article {
  text-align: left;
}
#titolo {
  font-size: 2em;
  font-weight: 500;
  padding-top: 8%;
  margin-bottom: 8%;
}
#sottotesto {
  color: gray;
  font-size: 95%;
  margin-bottom: 8%;
}

article p {
  margin-top: 10%;
  margin-bottom: 10%;
}
article li {
  list-style: disc;
}
table, td, th{
    
    padding: 5px;
}
.lista{
    list-style-type:decimal
}